# ccls                                                                                                                                                
.ccls-cache                                                                                                                                           

# qmake                                                                                                                                               
Makefile                                                                                                                                               
.qmake.stash                                                                                                                                        
*.user*                                                                                                                                             
/build*                                                                                                                                               
/RPMS
/installroot                                                                                                                                          
/lib/pkgconfig                                                                                                                                        
/*.list                                                                                                                                               
moc_*                                                                                                                                                  
*.prl                                                                                                                                                
*.o                                                                                                                                                   
*.moc                                                                                                                                                 
*.a                                                                                                             
*.so                                                                                                                                                  
*.so.*                                                                                                                                               
*.qm
*.autosave*
*.swo

